body {
    --base: rgb(138, 138, 138);
    --head: white;
    --accent: darkgreen;
    --gradient: linear-gradient(#1ac5eb, #013e98);
    --outer: 3rem;
    --standard: 1.5rem;
    --inner: 1rem;
}

nav, footer {
    background: var(--gradient);
    padding: 0px;
    margin-block: 0px;
}

nav div {
    margin-block: var(--inner);
    padding: 0px;
}
.minimal {
    display: flex;
    font-size: var(--standard);
    gap: var(--inner);
}
.minimal a {
    font-size: var(--standard);
    color: white;
}

.container, .promo {
    flex-direction: column;
}

.container {
    padding: var(--outer) var(--standard);
    align-items: center;
    min-height: 100dvh;
}
.promo {
    min-width: 80%;
    align-items: baseline;
}
.container> h2 {
    font-size: var(--outer);
}

.title {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: var(--inner) var(--standard);
}

.content {
    max-width: 800px;
}

.content img {
    width: 300px;
    margin: var(--inner);
}
img {
    max-width: 1200px;
}

.title a:hover, .title a:focus {
    text-decoration: underline;
}

.title a:visited {
    color: var(--base);
    text-decoration: underline;
    text-decoration-color: var(--accent);
}

.active-page {
    border-bottom: 3px solid var(--head);
}
.article {
    flex-direction: column;
    max-width: 1000px;
}