<nav>
    <h1>Articles by Tray</h1>
    <div>
        <a href="/blog">Home</a>
        <a href="/blog/photography-posts">Photography</a>
        <a href="/blog/coding-posts">Coding</a>
        <a href="/blog/other-posts">Other</a>
        <a href="/blog/about">About</a>
    </div>
</nav>