<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Articles by Tray | 404 page not found</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../public/root-styles.css">
        <link rel="stylesheet" href="../public/frontend/error-styles.css" />
    </head>
    <body>
        <div class="img-fill1">
            <div>
                <h1>404</h1>
                <p>Sorry, the page you're looking for wasn't found.</p>
                <a href="/blog">click here to get back to the home page.</a>
            </div>
        </div>
    </body>
</html>