<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Articles by Tray | 404 page not found</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/root-styles.css">
        <link rel="stylesheet" href="/frontend/error-styles.css" />
    </head>
    <body>
        <div>
            <div>
                <h1>Apologies</h1>
                <p>Unfortunately something went wrong on our end we'll try to get that fixed.</p>
                <p>Please try again later.</p>
                <a class="return" href="#" onclick="goBack()"><i class="fa-solid fa-chevron-left"></i> Go Back</a>
            </div>
        </div>
        <script src="/frontend/script.js"></script>
    </body>
</html>
