<% var currentPage = "500"; %>
<%- include("partials/header", {currentPage: currentPage}); %>

<div class="img-fill">
    <div>
        <h1>Apologies</h1>
        <p>Unfortunately something went wrong on our end we'll try to get that fixed.</p>
        <p>Please try again later.</p>
        <a class="return" href="#" onclick="goBack()">Go Back</a>
    </div>
</div>
<%- include("partials/footer"); %>