<% var currentPage = "ADMIN Only | login" %>
<%- include("partials/admin/header", {currentPage: currentPage}) %>
<div class="container">
    <div>
        <% if (err !== false) { %>
            <p class="error"><%= err %></p>
        <% } %>
        <form id="login" method="post" action="/blog/login">
            <label>
                ID
                <input type="text" autocomplete="off" autocapitalize="off" autofocus name="username"
            </label>
            <label>
                Password
                <input type="password"  autocapitalize="off" autocomplete="off" name="password" />
            </label>
            <input type="submit" value="Login" />
        </form>
    </div>
</div>
<%- include("partials/admin/footer") %>