body {
    --base: rgb(138, 138, 138);
    --head: white;
    --accent: darkgreen;
    --gradient: linear-gradient(#1ac5eb, #013e98);
    --outer: 3rem;
    --standard: 1.5rem;
    --inner: 1rem;
    background: rgb(1, 19, 0);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: var(--base)
}
h1, h2 {
    color: var(--head);
    margin: 0px var(--standard)
}
h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

div {
    display: flex;
    gap: var(--inner);
    padding: var(--inner)
}
a {
    text-decoration: none;
    color: var(--head);
    font-weight: 500;
}