    <footer>
    <p><i class="fa-regular fa-copyright" title="copyright"></i><a href="https://creatortray.com">creatortray</a></p>
    </footer>
    <script src="/frontend/script.js" type="text/javascript"></script>
</html>